* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    
    height: 100vh;
    width: 100%;

    background-color: #373637;
    color: #FFF;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

li {
    list-style: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}


/* colors {
    MAIN_YELLOW: #FFC351,

    MAIN_GRAY: #848686

    MAIN_BACKGROUND: #373637
    SECONDARY_BACKGROUND:
} */