header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1.5% 10%;

    border-bottom: 1px solid #848686;
}

header strong {
    font-family: "Sora", sans-serif;
    color: #FFC351;
    text-shadow: -2px 1px 2px rgba(0,0,0,0.91);
    -webkit-text-stroke: .4px white;
    font-size: clamp(12px, 2vw,16px);
    letter-spacing: 2px;
}

header nav {
    justify-self: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20%;

    width: 45%;

}

header nav a::after {
    content: "";
    
    position: absolute;
    right: 0;
    bottom: -1.5px;

    width: 0%;
    height: 1px;

    background-color: #FFC351;

    transition: 400ms ease-in all;
}

header nav a:hover:after {
    width: 100%;
    left: 0;
}

header nav a {
    position: relative;
    color: #a4a8a8;
    transition: 350ms ease-in 80ms;
}

header nav a:hover {
    color: #FFF;
}

header > a:last-child {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: end;
}

header a:last-child svg {
    height: clamp(18px, 4vw,25px);
    width: 25px;
    transition: 400ms ease-in-out all;
}

header a:last-child:hover svg {
    fill: #FFC351;
}

header.responsive button {
    border: 1px solid #848686;
    border-radius: 5px;

    background-color: #444343;

    padding: 2px 1px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    transition: all 400ms ease-in-out;
}

header.responsive button:hover {
    background-color: #636262;
    border: .5px solid rgba(255, 195, 81, .55);
}

header.responsive button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}